//-***********************************************************************************************
//-Author: Priyanka Mukati
//-Date: 12/03/2022
//-Source code description: Pug file which display the details of all the users for the Admin 
//-************************************************************************************************
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Oswald:300,400,400i,700', rel='stylesheet')
    link(rel='stylesheet', href='css/style.css')
    link(rel='shortcut icon', type='image/png', href='img/bank.png')
    title  View Loans
  body 
    // DARK BLUE HEADER
    header.header

    .header_align

      .header_data_merge 
        .header_loan_logo
          img(src='img/company.png' alt='Loan logo' height="105")

        .header_down
          .header_span PayEasy Loans

      nav.nav.nav--loans
        img(src='img/homeicon.png' alt='Loan logo' height='30')  
        a.nav__el(href='/') Home
        img(src='img/myprofileicon.png' alt='Loan logo' height='30') 
        a.nav__el(href='/Myprofile') My profile
        img(src='img/allusericon.png' alt='Loan logo' height='30')  
        a.nav__el(href='/viewAllUser') View All User
        img(src='img/viewloanicon.png' alt='Loan logo' height='30')  
        a.nav__el(href='/viewAllLoans') View All Loans List
        img(src='img/logouticon.png' alt='Logout logo' height='30')  
        a.nav__el(href='/logout') Logout
        a.nav__el(href='#')
           img.nav__user-img(src='img/users/user.png' alt='User photo')
           span  #{user.firstName + ' ' + user.lastName}
         
    h1.heading-primary
      br
      span All Users Detail
      br
      br
    div
      table.table-header
        thead
          tr.table-secondary1
            th(scope='col' style="width: 2%") #           
            th(scope='col' style="width: 10%") Customer Name
            th(scope='col' style="width: 9%") Phone Number
            th(scope='col' style="width: 19%") Address
            th(scope='col' style="width: 9%") Email
            th(scope='col' style="width: 9%") Gender
            th(scope='col' style="width: 9%") Date of Birth
            th(scope='col' style="width: 10%") Role
            th(scope='col' style="width: 1%") Action

            
        tbody
          each userData in data 
            form(action='/deleteProfile' method='POST')
              tr.table-secondary2.auto-index
                td
                td=userData.firstName +' '+userData.lastName
                td=userData.phoneNumber
                td=userData.address
                td=userData.email
                td=userData.gender
                td=userData.dateOfBirth 
                td=userData.role
                th
                  input.card__sub-heading(type='submit' value='Delete')
                  input.card__sub-heading(type='hidden' name="_id" value=userData._id)
               

              
             
              
      .login_empty_container    
      //FOOTER
      include _footer          